---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import datasprit from "../assets/images/datasprit.svg";

---
<MainLayout title="Sprit" description="Sprit" ogtitle="Sprit" ogdescription="Sprit">
	<div class="grid mx-auto container gap-2 pt-8 prose scroll-smooth">
        <h1>Spritkørsel</h1>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut massa diam. Pellentesque sed imperdiet nisl, nec condimentum felis. Nulla maximus odio eget enim scelerisque, hendrerit faucibus justo euismod. Curabitur venenatis vel leo ut fermentum. Cras non suscipit elit. Nunc feugiat leo in egestas ornare. Fusce dui turpis, pellentesque sit amet arcu vel, gravida commodo odio. Nam ut varius est, eu imperdiet augue. Suspendisse potenti. Sed efficitur, nibh ac maximus congue, felis massa elementum nibh, vitae dignissim quam lorem in lectus. Morbi a felis ullamcorper, rhoncus enim vel, faucibus turpis. Aliquam eget eros nulla.</p>

            <Image src={datasprit} alt="spritkørsel" />

            <p>In at velit luctus, volutpat purus sagittis, imperdiet purus. Sed vitae est porttitor augue imperdiet venenatis. Praesent tincidunt scelerisque quam et imperdiet. In hac habitasse platea dictumst. Suspendisse consequat sit amet diam non gravida. Quisque elit nisl, laoreet et luctus at, fermentum id erat. Duis ac dui in dui volutpat suscipit eu nec enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur quis turpis rhoncus, eleifend mauris a, congue lectus. Fusce et rhoncus augue. Aenean aliquam, est vitae facilisis posuere, turpis felis bibendum diam, nec accumsan nulla nibh vel tortor. Fusce non vulputate nisl. Etiam non dignissim metus, eget consectetur eros. Nulla porttitor est quis scelerisque bibendum. Duis vitae nibh tempor, euismod urna non, tempor purus. Praesent tortor nibh, dignissim a sollicitudin ac, viverra sit amet urna.</p>

            <hr>
        </article>
</MainLayout>